.panel-light {
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.panel-dark {
    height: 200px;
    width: 200px;
    background-color: rgb(42, 40, 40);
}

.button-light {
    background-color: aqua;
}

.button-dark {
    background-color: rgb(42, 40, 40);
}